<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365283131614-if39ibmusif20p5sauecci5585u2ltjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365283131614-if39ibmusif20p5sauecci5585u2ltjl</string>
	<key>API_KEY</key>
	<string>AIzaSyD6wC-s_f8nxHaHEB3EIe9y8cCpY30LuBg</string>
	<key>GCM_SENDER_ID</key>
	<string>365283131614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valente.HelloFirebase</string>
	<key>PROJECT_ID</key>
	<string>mochileiros-c426c</string>
	<key>STORAGE_BUCKET</key>
	<string>mochileiros-c426c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365283131614:ios:31a9d84ce6e9b003</string>
	<key>DATABASE_URL</key>
	<string>https://mochileiros-c426c.firebaseio.com</string>
</dict>
</plist>